*~
~$*
.Rhistory
.Rapp.history
.Rdata
.DS_Store
.DS_STore?  
**/results/**/*.csv
**/results/**/*.log
**/reporting/*.html
**/local/**
*.zip
**/manuscript/**
*.nb.html
*.pdf
*.html
*.gpg
.#*
.Rproj.user
**/docs/**
**/redcap/**
**/Levon/**
*.code-workspace*
*.json
**/manuscript/**
**/docs/**